* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: black;
}

nav {
    background: black;
}

nav {
    padding: 10px 0 10px 15px;
    /* background-color: red; */
    background: linear-gradient(green, yellow);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#board {
    width: 90vmin;
    height: 90vmin;
    max-width: 1000px;
    max-height: 500px;
    border: 1px solid white;
    background: linear-gradient(green, yellow);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    margin-bottom: 50px;
    border-radius: 8px;
}

.head {
    background: red;
    /* border-radius: 10px; */
}

.snake {
    background: red;
}

.food {
    background: blue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttons {
    display: flex;
    gap: 10px;
}

#easy,
#medium,
#hard ,
#muteBtn{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
#startScreen{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:black;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
    gap: 50px;
}
.img img{
    height: 400px;
    width: 400px;

}

.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background:linear-gradient(green,yellow);
    border: 1px solid black;
    padding: 50px;
    border-radius: 15px;
    /* box-shadow:0 0 40px rgba(0,255,120,0.4); */
    /* animation: cardRotate 20s ease-in-out infinite; */
}
#startBtn{
    padding:10px 20px;
    font-size:16px;
    cursor:pointer;
    border:none;
    border-radius:8px;
    background:rgb(6, 59, 6);
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition:0.3s;
    border:3px solid  yellowgreen;
}
#startBtn:hover{
    background-color: black;
   transform:translateY(-1px);
   /* box-shadow:0 5px 15px rgba(0,0,0,0.5); */
}
/* @keyframes cardRotate{
    0%{ transform:rotateY(360deg); }
    50%{ transform:rotateY(0deg); }
    100%{ transform:rotateY(360deg); }
} */

.box h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    color: black;
}
.box h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
@media screen and (max-width:800px){
    .img img{
        /* display: none; */
        height: 250px;
        width: 250px;

    }
    .page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border:3px solid  yellowgreen; */
    }
    .box{
        height: 300px;
        animation: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box h1{
        font-size: 30px;
    }
}
#easy {
    background: rgb(33, 248, 33);
}

#easy:hover {
    background: rgb(5, 112, 5);
}

#medium {
    background: rgb(135, 87, 189);
}

#medium:hover {
    background: rgb(78, 11, 104);
}

#hard {
    background: rgb(211, 65, 65);
}

#hard:hover {
    background: rgb(243, 13, 13);
}
#muteBtn{
    background-color: yellow;
}
#muteBtn:hover{
    background-color:grey;
}

.score {
    background: rgb(71, 243, 71);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    border: 0px;
    border: 1px solid black;
    border-radius: 4px;

}

#highscore,
#gamescore {
    text-align: center;
}

@media screen and (max-width:800px) {
    #board {
        width: 97vmin;
        height: 97vmin;
        margin-bottom: 200px;
    }
    .buttons {
        margin-right: 10px;
    }

    #easy,
    #medium,
    #hard,
    #muteBtn {
        padding: 5px;
        border: 1px solid black;
    }
    nav h1{
        font-size:25px;
    }

}
@media screen and (max-width:600px){

    nav{
        flex-wrap:wrap;
        align-items:flex-start;
        padding-bottom:8px;
        gap: 5px;
    }

    .score{
        width:100%;
        margin-top:6px;
        justify-content:center;
    }

}
.active{
    text-decoration: line-through;
}

/* .head{
    background-image: url('./images/head.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.foodpic{
    background-image: url('./apple.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
} */

.winscreen{
    background:linear-gradient(green,yellow);
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
#muteBtn{
    background-color:;
} */